<section id="three" class="wrapper align-center">
  <div id="easy-url-error" class="add-crud-edit-errors">
  </div>
  <div class="inner">
    <%= form_for @tiny_url, :url =>get_tiny_url_path, :method => 'post', :remote => true, :authenticity_token => true do |f|%>
      <div class="field half first">
        <%= f.text_field :orginal_url, placeholder: "Paste Here Your Long Url", :required => true%>
      </div>
      <ul class="actions">
        <footer>
          <%= submit_tag(value = "Get Easy Url") %>
        </footer>
      </ul>
    <% end %>
    <div id="easy-url-div" class="">
    </div>
  </div>
</section>
<% content_for :page_level_script do %>
  <%= javascript_include_tag 'tiny_url' %>
<% end %>